body {
	background: #0047a6;
	padding: 40px 50px;
	margin: 0;
	font-family: sans-serif;
	color: #727484;
}

h3 {
	color: #474d5e;
	margin-bottom: 25px
}

p {
	margin: 15px 0;
	padding: 0;
}

a {
	&:hover {
		cursor: pointer;
	}
}

button {
    background-color: #00d77b;
    color: #fff;
    width: 135px;
    padding: 15px;
    border: none;
    font-size: 1em;
    border-radius: 3px;
    margin: 30px 0;
    &:hover { cursor: pointer }
}

input { 
    border: none;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    color: #727484;
    font-size: .85em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea{
	border-radius: 3px;
    min-height: 150px;
    padding: 15px 10px;
    margin-bottom: 25px;
    resize: none;
    color: #727484;
    font-size: .85em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

.center { text-align: center; }

.container { 
	background: #fff; 
	margin: 0 auto; 
	border-radius: 3px; 
	min-height: 600px;
    .column { 
        width: 50%;
        vertical-align: top;
        display: inline-block;
        &.right {
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
        }  
        &.left {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px; 
        }
        .column-inner {
            margin: 35px;
            text-align: left;
            &.essay { margin: 35px 0; }
        }
        .essay-preview { margin-bottom: 80px; }
    }
}

.off-color-bkg {
	background-color: #f3f5f9;
}
